//
// These are the base form settings for WPCampus.
//

// Make sure the charset is set appropriately
@charset "UTF-8";

// Include Foundation settings to reuse them
@import '_settings';

#wpc-content {

	.gform_confirmation_message {
		background: rgba(0, 255, 0, 0.2);
		padding: 20px;
	}
	
	.gform_pending_message,
	.gform_entry_limit_message {
		background: rgba(255, 0, 0, 0.2);
		padding: 20px;
	}

	.gform_wrapper {

		.gform_fields {

			.gfield {

				&.field-desc-callout {

					&.gsection {
						border-bottom: 0;
						padding-bottom: 0;
						margin-bottom: 0;
					}

					.gsection_description {
						background-color: #ebebeb;
						margin: 0 0 1rem 0;
						padding: 1rem;
						border: 1px solid rgba(10, 10, 10, 0.25);
						border-radius: 0;
						position: relative;
					}

					.gsection_title + .gsection_description {
						margin-top: 10px;
					}

				}

			}

		}
		
		.gform_page_footer {
			
			.button.gform_button,
			.button.gform_previous_button,
			.button.gform_next_button {
				margin-bottom: .5em;
				
			}
			
		}

	}

}

#gform_9 {

	#input_9_11,
	#input_9_12 {
		pointer-events: none;
		opacity: 0.7;
		background: #eee;
	}

}