// Make sure we have valid charset
@charset "utf-8";

// Import the settings
@import "settings";

// Import the mixins
@import "mixins";

html, body {
    height: 100%;
}

#wpc-home-hero {
    height: 96%;
    position: relative;
    @include set-prefix( 'box-shadow', inset 0 0 100px #000 );

    &:after {
        content: '';
        position: fixed;
        top: 30px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        background: url('../images/USF-rotunda.jpg') no-repeat center center;
        @include set-prefix( 'background-size', cover );
        background-size: cover;
        will-change: transform;
        z-index: -1;
    }

}

// The main notification
#wpc-notification {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}