// Make sure we have valid charset
@charset "utf-8";

// Import the settings
@import "settings";

// Import the mixins
@import "mixins";

// Import Foundation files
@import "_foundation-files";

// Will hide text visually but allow to be read by screen readers
.screen-reader-text {
    @include screen-reader-text();
}

body {
    padding: $wpc-banner-height 0 0 0;
}

// Stylize the "Skip To Content" link
#skip-to-content {
    display: block;
    position: fixed;
    left: -1000px;
    top: -1000px;
    width: 0;
    height: 0;
    text-align: left;
    overflow: hidden;
    z-index: 1000000;

    &:focus, &:active, &:hover {
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        overflow: visible;
        background: #eee;
        color: #000;
        padding: 10px;
    }

}

// The banner
#wpc-banner {
    background: #fff;
    width: 100%;
    height: $wpc-banner-height;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;

    .banner-inside {
        display: inline-block;
    }

    .wpc-logo {
        display: block;
        height: $wpc-banner-height;
        float: left;
        padding: $wpc-banner-logo-padding-top 20px 0 20px;
        
        a {
            display: block;
        }

        img {
            display: block;
            width: auto;
            height: 45px;
            margin: 0;
        }
        
    }

    .menu {
        height: $wpc-banner-height;
        float: left;
        vertical-align: top;

        ul {
            @include reset-ul();
            height: $wpc-banner-height;

            li {
                display: block;
                float: left;
                height: $wpc-banner-height;
                line-height: $wpc-banner-height;

                a {
                    display: block;
                    padding: 0 10px;
                    text-transform: uppercase;
                    text-decoration: none;
                }

            }
            
        }

    }

}

// The content
#wpc-content {
    padding: 30px 0;
}

// The schedule
.wpc-schedule {
    width: 100%;

    .wpc-col-time {
        width: 130px;
    }

}